@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ffdc98;
    --secondary-color: #ffffff;
    --gray-color: #24201d;
    --dark-gray-color: #171717;
}

html,
body,
#root {
    background-color: var(--gray-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
