@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ffdc98;
    --secondary-color: #ffffff;
    --gray-color: #24201d;
    --dark-gray-color: #171717;
}

html,
body,
#root {
    background-color: var(--gray-color);
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.fade-right {
    mask-image: linear-gradient(to left, transparent 50%, black 100%);
}

.yellow-radial-gradient {
    background-color: #171717;
    background-image: radial-gradient(
        circle at top left,
        rgba(255, 221, 152, 0.2),
        rgba(255, 221, 152, 0) 30%
    );
}
