@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ffdc98;
    --secondary-color: #ffffff;
    --gray-color: #24201d;
    --dark-gray-color: #171717;
}

html,
body,
#root {
    background-color: var(--gray-color);
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.fade-right {
    mask-image: linear-gradient(to left, transparent 50%, black 100%);
}
